.body{
    display: flex;
}

.body .side-bar{
    flex-basis: 20%;
}

.body .content{
    flex-basis: 80%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    row-gap: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    margin: 3px;
    border:1px solid lightblue;
    padding: 3px;
}

.image{
    display: flex;
    height: 200px;
    align-items: center;
}
.image img{
    max-height: 200px;
    width: 100%;
}

.cart-button{
    border-radius: 10px;
    width: 80%;
    margin: auto;
}