

.cart-header {
    background-color: bisque;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: bisque;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header H1{
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.header div{
    height: 50px;
    width: 50px;
}

.cart-icon{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    top: 20px;
}

.icon{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 10px;
}